.container {
    @apply rounded-[12px] p-[1px];
    background-color: var(--color-ffffff);
    box-shadow: var(--box-shadow-1);
  
    // & > div {
    //   @apply p-4 rounded-[11px];
    // }
   
    &.large {
      box-shadow: var(--card-shadow);
      @apply p-10 ;
    }
  
    &.small {
        box-shadow: var(--card-shadow);
        @apply p-6;
    }
  
    &.default {
    }
  
    &.outline {
      @apply relative rounded-[12px] overflow-hidden;
      background: var(--gradient-green-color);
      background-clip: border-box;
  
      & > div {
        background: var(--color-ffffff);
        border-radius: 11px;
      }
    }
  }
  